/* Comentário */
*{
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial;
}

header{
	background-color: #35B8B0;
	height: 120px;
	padding: 30px;
}

body{
	background-color: black;
}

p{
	color: #FFFFFF;
	font-size: 22px;
	font-family: Helvetica, Arial;
	text-shadow: 2px 2px 2px #111111;
}

h1{
	color: #FF0000;
	text-shadow: 2px 2px 2px #111111;
	text-align: center;
	margin: 0 0 50px 0;
}

footer{
	clear: both;
	background-color: #35B8B0;
	background-image: -webkit-linear-gradient(red,blue); /*Safari, Chrome*/
	background-image: -moz-linear-gradient(red,blue); /*Firefox*/
	background-image: -o-linear-gradient(red,blue); /*Opera*/
	height: 44px;
	text-align: center;
	padding: 10px;
}

/* ID */
#div_principal{
	background-image: url('milly.png');
	clear: both;
	background-size: 100%;
	min-height: 1000px;
	padding: 100px 0 0 0;
}

#logo{
	float: left;
}

#menu{
	float: right;
	margin-top: 10px;
}

#menu a{
	padding: 10px 10px;
	text-decoration: none;
	color: black;
}

#menu a:hover{
	background-color: red;
}

/* class */
.container{
	width: 1200px;
	margin:0 auto;
}

.efeito{
	background-color: rgba(0, 0, 0, 0.5);
	padding: 50px 0 50px 0;
}